* {
    margin: 0;
    padding: 0;
}

.header {
    background-image: url(./images/donation4.jpg);
    text-align: center;
    color: white;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}

.color {
    color: black;
}

.header h1 {
    font-size: 50px;
    padding-top: 90px;
    padding-bottom: 50px;
}

.header p {
    padding-bottom: 90px;
}

.button {
    background-color: orangered;
    padding: 12px 40px;
    text-decoration: none;
    border-radius: 5px;
    color: white;
}

.donate {
    text-align: center;
    margin-top: 90px;
}

.donate-plan {
    text-align: center;
    margin-top: 90px;
}

.donate-card {
    display: flex;
    padding: 50px;
}

.card {
    background-color: antiquewhite;
    margin: 10px;
    padding-bottom: 50px;
}

.bg-color1 {
    background-color: rgba(127, 255, 212, 0.23);
}

.bg-color2 {
    background-color: rgba(137, 43, 226, 0.06);
}

.icon {
    height: 45px;
    padding: 20px;
    padding-top: 40px;
}

.card-title {
    font-size: 30px;
    padding-left: 15px;
}

.card-discription {
    padding: 15px;
}


.get-update {
    text-align: center;
}

footer {
    text-align: center;
    background-color: rgb(22, 16, 28);
    color: brown;
    padding: 40px;
}

footer p {
    color: white;
}